<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
    colors="true"
    backupGlobals="false"
    bootstrap="./bootstrap.php"
    cacheResultFile=".phpunit.cache/test-results"
    executionOrder="depends,defects"
    forceCoversAnnotation="false"
    beStrictAboutCoversAnnotation="false"
    beStrictAboutOutputDuringTests="false"
    beStrictAboutTodoAnnotatedTests="true"
    failOnRisky="false"
    failOnWarning="false"
    verbose="true"
>
    <testsuites>
        <testsuite name="ExeLearningTest">
            <directory>./ExeLearningTest</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">../src</directory>
        </include>
        <exclude>
            <directory suffix="Factory.php">../src</directory>
        </exclude>
        <report>
            <text outputFile="php://stdout" showUncoveredFiles="true"/>
        </report>
    </coverage>
</phpunit>
